
.logo {
  font-family: Arial, sans-serif; /* Defina a família de fontes desejada */
  font-size: 24px; /* Defina o tamanho da fonte */
}

.logo span {
  color: Black; /* Defina a cor do texto dentro da tag <span> */
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background:whint;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color:  #linear-gradient(to bottom, rgb(26, 35, 126), rgb(13, 71, 161));
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: light green;
  color: black;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: light green;
  color:light green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

#results {
  margin-top: 20px;
}

.hidden {
  display: none;
}
